@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Water+Brush&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.header {
	background-image: url('/img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	gap: 4rem;
	color: white;
	align-items: center;
	nav {
		padding: 2rem;
		display: flex;
		gap: 3rem;
		align-items: center;
		height: 8rem;
		color: white;
		justify-content: center;
		h1 {
			  font-family: "Water Brush", cursive;
		}
		button {
			background: -webkit-linear-gradient(90deg, #ff8c51, #ff6d6d);
			background: linear-gradient(90deg, #ff8c51, #ff6d6d);
			height: 3rem;
			width: 6rem;
			border-radius: 10px;
		}
		ul {
			display: flex;
			color: white;
			gap: 2rem;
		}
		.reg {
			background: -webkit-linear-gradient(90deg, #6c39ba,#a87efb);background: linear-gradient(90deg, #6c39ba,#a87efb);
		}
	}
	.text {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 62rem;
		h1 {
			font-size: 4rem;
			 font-family: "Roboto Mono", monospace;
		}
		h2 {
			font-size: 6rem;
			font-weight: 800;
		}
		p {
			width: 26rem;
		}
	}
	.block {
		width: 25rem;
		height: 6rem;
		background-color: #ffffff2b;
		backdrop-filter: blur(3px);
		border-radius: 29px;
		display: flex;
		gap: 2rem;
		padding: 1rem;
		align-items: center;
		justify-content: center;
		.location {
			display: flex;
			flex-direction: column;
		}
	}
}
